.projectDisplay {
    display: block;
    padding: 1em;
    width: 90%;
    margin: 1em 1em 1em 5%;
    border-style: groove;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
}

.projectImage {
}

.projectClickableHeader {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
}

.projectImageAndApproved {
    overflow: hidden;

    position: relative;
}


.projectContentContainer {
    display: flex;
}

.projectCategoryAndTags {
    display: flex;
    width: 80%;
    margin-top: .5em;
}

.projectCategoryContainer {
    width: 20%;
    padding: .4em;
}

.projectTagsContainer {
    padding: .3em;
    width: 80%;
}

.projectQualifiedBanner {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 999999;
}

.projectDescriptionOwner {
    text-align: left;
    padding: .4em;
    margin-right: .5em;
    margin-top: .5em;
    width: 20%;
}