.h3Text{
    font-size: xxx-large;
    margin-top: 0.5em;
}
.messageBoardContainer{
    display: inline-block;
    float: right;
}
.projectWrapper{
    float: left;
}
.banner {
    text-align: left;
}
.tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.infoWrapper{
    /*text-align: center;*/
}
.collaboratorsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.collaborator {
    padding-right: .5em;
}

.picture{
    height: 10em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}

.headerInfo{
    margin-top: 0.5em;
    display: inline-block;
}

.details{
    text-align: left;
}
