
Form{
    text-align: left;
}

.login{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p{
    color: red;
}

.rightButton{
    float: right;
}

.internalButton{
    width: 10em;
}

.externalButtons{
    margin-top: 1em;
    margin-bottom: 2em;
}
